<h1 class="text-lg font-medium text-orange-700">Post</h1>
<p class="text-sm font-light pb-3 text-orange-900"><%= @post.title %></p>

<div class="shadow-md rounded-xl border border-slate-200 px-3 py-2 bg-gradient-to-r from-stone-50 to-slate-50 hover:from-yellow-100 hover:to-orange-100 my-4"><%= @post.body %>
</div>
<.back navigate={~p"/posts"}>Back to posts</.back>